<!DOCTYPE html>
<html>
	<head>
		<%- include("headElement") %>
		<title>Bugs and Requests</title>
	</head>
	<body>
		<%- include("header") %>
		<div class="container">
			<h3>Change Log</h3>
			<p>(this page is unreachable right now...)</p>
		</div>
		<%- include("footer") %>
	</body>
</html>