<!DOCTYPE html>
<html>
	<head>
		<%- include("headElement") %>
		<title>Success</title>
	</head>
	<body>
		<%- include("header") %>
		<div class="container">
			<h3>Success</h3>
			<p class="lead">Your complaint was recorded successfully.</p>
			<p>You can now <a href="/">return to the homeworld</a> or <a href="/lobby">enter the lobby</a>, and I will try to handle the request when I can.</p>
		</div>
		<%- include("footer") %>
	</body>
</html>