		<footer>
			<hr/>
			<p class="small" align="center">
				The game of <a href="https://www.looneylabs.com/games/homeworlds">Homeworlds</a> was designed by <a href="https://boardgamegeek.com/boardgamedesigner/123/john-cooper">John Cooper</a> and is published by
				<a href="https://www.looneylabs.com/">Looney Labs</a>  as part of the <a href="https://www.looneylabs.com/pyramids-home">Looney Pyramids game system</a>. <br/>
				This implementation of the game is licensed under GPL 3.0. <br/>
				
				Website is made possible by Node.js,
				<a href="https://reactjs.org/">React</a>, and
				<a href="https://getbootstrap.com/">Bootstrap</a> (with the Cyborg theme from <a href="https://bootswatch.com/">Bootswatch</a>). You know, this really would not have been possible without all of the open-source tools that the Node.js community has provided.
			</p>
		</footer>
		
		<script>
// use an IIFE to find your username without throwing
const YOUR_USERNAME = (function() {
	const accountDropdown = document.getElementById("accountDropdown");
	return accountDropdown ? accountDropdown.textContent : null;
})();
		</script>