		<footer>
			<hr/>
			<p class="small" align="center">
				The game of Homeworlds was designed by John Cooper and is published by
				<a href="https://www.looneylabs.com/">Looney Labs</a>. <br/>
				This implementation of the game is licensed under GPL 3.0. <br/>
				
				Website is made possible by Node.js,
				<a href="https://reactjs.org/">React</a>, and
				<a href="https://getbootstrap.com/">Bootstrap</a> (with the Cyborg theme from <a href="https://bootswatch.com/">Bootswatch</a>). You know, this really would not have been possible without all of the open-source tools that the Node.js community has provided.
			</p>
		</footer>

		<!-- These should be in every webpage -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" nonce="<%- nonce %>"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" nonce="<%- nonce %>"></script>
		<script src="/scripts/bootstrap/bootstrap.min.js" nonce="<%- nonce %>"></script>
		
		<script>
// use an IIFE to find your username without throwing
const YOUR_USERNAME = (function() {
	const accountDropdown = document.getElementById("accountDropdown");
	return accountDropdown ? accountDropdown.textContent : null;
})();
		</script>