<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<a class="navbar-brand" href="/">
		<img src="/images/ship-<%=
		// randomly pick a color
			"bgry"[Math.floor(Math.random() * 4)]
		%>1.svg" height="30" class="d-inline-block align-top" />
		Homeworlds Live
	</a>
	<button class="navbar-toggler" type="buton" data-toggle="collapse" data-target="#header-content">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Navigation links -->
	<div class="collapse navbar-collapse" id="header-content">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/lobby">Lobby</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/howThisWorks">Help</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/archive">Archive</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/sandbox">Sandbox</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://github.com/thelast19digitsofpi/homeworlds-live" target="_blank">GitHub</a>
			</li>
		</ul>
	</div>
	<!-- Either your account or the Log In / Sign Up buttons -->
	<% if (userInfo.loggedIn) { -%>
		<!-- Account Dropdown -->
		<div class="nav-item dropdown">
			<a class="nav-link dropdown-toggle"
			   href="#"
			   id="accountDropdown"
			   data-toggle="dropdown"
			   aria-haspopup="true"
			   aria-expanded="false"
			   ><%= userInfo.username _%></a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
				<a class="dropdown-item" href="/lobby">Lobby</a>
				<a class="dropdown-item" href="/tutorial">Tutorials</a>
				<div class="dropdown-divider"></div>
				<!-- ok this is bad, I did not even add an account page? -->
				<a class="dropdown-item" href="/changePassword">Change Password</a>
				<a class="dropdown-item" href="/logout">Log Out</a>
			</div>
		</div>
	<% } else { -%>
		<a class="btn btn-primary" role="button" href="/login">Log In</a>
		<a class="btn btn-secondary ml-1" role="button" href="/createAccount">Create Account</a>
	<% } -%>
</nav>