<!DOCTYPE html>
<html>
	<head>
		<%- include("headElement") %>
		<title>Under Construction</title>
	</head>
	<body>
		<%- include("header") %>
		<div class="container">
			<h1>Website Name</h1>
			<p class="lead">This is eventually going to be a real-time web implementation of the board game (Binary) Homeworlds.</p>
			<p>For now, you can play around in the <a href="/game/unstable-sandbox">sandbox</a>.</p>
		</div>
		<%- include("footer") %>
	</body>
</html>