<!DOCTYPE html>
<html>
	<head>
		<%- include("headElement") %>
		<title>Game Lobby</title>
	</head>
	<body>
		<%- include("header") %>
		<div class="container">
			
			<!-- looks like we need some React -->
			<div id="lobby-container"></div>
			
		</div>
		<%- include("footer") %>
	</body>
</html>