<!DOCTYPE html>
<html>
	<head>
		<%- include("headElement") %>
		<title>Game Sandbox</title>
	</head>
	<body>
		<%- include("header") %>
		
		<h3 class="title">Homeworlds Sandbox</h3>
		<h5 class="subtitle">Play all sides of a game of Homeworlds with this sandbox.</h5>
		<div id="game-container"></div>
		
		<%- include("footer") %>
		
		<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
		<!-- Babel -->
		<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
		<!-- Scripts for game components -->
		<script src="/scripts/game/gameState.js" type="text/javascript"></script> <!-- pure js -->
		<script src="/scripts/game/actionInProgress.jsx" type="text/babel"></script>
		<script src="/scripts/game/piece.jsx" type="text/babel"></script>
		<script src="/scripts/game/system.jsx" type="text/babel"></script>
		<script src="/scripts/game/action_popup.jsx" type="text/babel"></script>
		<script src="/scripts/game/stash.jsx" type="text/babel"></script>
		<script src="/scripts/game/starmap.jsx" type="text/babel"></script>
		<script src="/scripts/game/game.jsx" type="text/babel"></script>
		
		<script>
const gameElement = React.createElement(Game);
ReactDOM.render(gameElement, document.getElementById('game-container'));
		</script>
	</body>
</html>