<!DOCTYPE html>
<html>
	<head>
		<%- include("headElement") %>
		<title>How to play on Homeworlds Live</title>
	</head>
	<body>
		<%- include("header") %>
		<div class="container">
			<h2>Tutorial Page</h2>
			
			<p>I am currently working on an interactive tutorial feature. However, <a href="https://www.looneylabs.com">Looney Labs</a> (which I am not affiliated with) has a tutorial video that explains the mechanics of the game.</p>
			<p>Please also check out <a href="/howThisWorks">How This Site Works</a> for more on the specifics of this website.</p>
			<p>Seriously, if you haven't already, please check them out. The pieces you see in the video are an entire game system.</p>
			
			<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Nz16s6oCIlQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen nonce="<%- nonce %>"></iframe>
		</div>
		
		<%- include("footer") %>
	</body>
</html>