body {
	/*font-family: Verdana, sans-serif;*/
	font-size: 1rem;
	background-image: url("/images/background.svg");
}

@include media-breakpoint-up(md) {
	body {
		font-size: 1.1rem;
	}
}

/* Because "text-warning" is orange... */
.text-yellow {
	color: #CCCC11 !important;
}

/* And "text-primary" is a bit too bright of a blue */
.text-blue {
	color: #0000CC !important;
}

/* Game styling */
/* For the most part I put here only that which either (1) was done early on, (2) I cannot do with Bootstrap's classes, or (3) I want to be able to adjust more finely than bootstrap's. */

.systems {
	min-height: 54vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.system-container {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	user-select: none;
}
/* some extra breathing room */
.system-container + .system-container {
	margin-left: 0.5vw;
	margin-right: 0.5vw;
}

.homeworld {
	width: 100%;
	/* text-align makes it centered */
	text-align: center;
}
.homeworld-yours {
	bottom: 0;
}
.homeworld-enemy {
	top: 0;
}

.system-container:not(.homeworld) {
	padding-top: 0.3vh;
	padding-bottom: 0.3vh;
}

.piece[piecetype="star"] {
	margin-left: 0.4vw;
	margin-right: 0.4vw;
}
/* 2 stars in the same system go together */
.piece[piecetype="star"] + .piece[piecetype="star"] {
	margin-left: -0.2vw;
}

.stash {
}
/* Special rendering for stash pieces */
.stash-table td {
	padding: 0.25em;
	min-width: 5px;
	vertical-align: bottom;
}
.stash-table td .flexxer {
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
}
.stash-table img {
	display: block;
}

.end-turn-popup {
	top: -1em;
	right: calc(100% + 1em);
	width: 40vw;
	background-color: rgba(64, 64, 64, 0.75);
	border-radius: 4px;
	padding: 0.5em;
}

/* Highlight pieces by making them fade out and in */
@keyframes fade {
	0% { opacity: 1; }
	20% { opacity: 0.9; }
	100% { opacity: 0.5; }
}
.piece[highlight] {
	animation-name: fade;
	animation-duration: 0.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

/* Action popup */
.action-popup {
	position: absolute;
	background-color: rgba(6, 6, 6, 0.5);
	z-index: 10;
}

/* Clocks */
.clock-value {
	font-family: monospace;
}

/* Summary */
#game-log {
	min-height: 3.5em;
}

/* Tutorials */
.tutorial-popup-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(32, 32, 32, 0.5);
}

.tutorial-popup {
	max-width: 75%;
}
